* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%,rgba(0, 0, 0, 0.7) 50%,rgba(0, 0, 0, 0) 100%);    
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 0 50px;
    color: #ffffff;
    z-index: 1000;
}

nav a {
    color: #ddd;
    text-decoration: none;
    margin-right: 20px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav a:hover {
    color: #f0c36d;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-center {
    justify-self: center;
}

.home-btn {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

.nav-right {
    justify-self: end;
}


.profile-btn:hover{
    stroke: #f0c36d;
}
