main{
    background-color: rgb(17, 17, 17);
    opacity: 70%;
    align-items: center;
    text-align: center;
    padding: 10px;
    max-width: 40%;
    margin: auto;
    margin-top: 50px;
    color: rgb(255, 255, 255);
}
form{
    padding: 1px;
}

form input{
    background-color: rgb(0, 0, 0);
    color: white;
    width: 90%;
    height: 50px;
    margin-bottom: 10px;
    margin-left: 10px;
}
form button{
    width: 100px;
    height: 40px;
    color: white;
    background-color: rgb(34, 34, 34);
}
form button:hover{
    width: 100px;
    height: 40px;
    color: white;
    background-color: rgb(0, 0, 0);
}
#iniciar{
    margin-top: 40px;
}

#iniciar label{
    margin: 20px;
}
#iniciar button{
    color: white;
    background-color: rgb(34, 34, 34);
}
#iniciar button:hover{
    color: white;
    background-color: rgb(0, 0, 0);
}

